# Virtualenv
# https://github.dev/github/gitignore/blob/main/Global/VirtualEnv.gitignore
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
.env
cache/**/*.txt
.vscode/